.input-group{
    margin: 2rem auto;
    width: 25%;
}
.col-lg-4.col-md-12 {
    margin-bottom: 2rem;
}
.container{
    margin: 0 auto;
}
.img-class{
    display: block;
    margin: 0 auto;
    width: 25%;
}
.nav-pagination {
    display: flex;
    margin: 2rem auto;
}
.nav-pagination ul{
    margin: 0 auto;
}
.datebutton{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 700px){
    .input-group{
        width: 80%;
    }
    .img-class{
        width: 80%;
    }
    .card {
        margin: 0 auto;
    }
}